.footer {
  border-top: 1px solid #cccaca; 
  color: #202020; 
  padding: 30px 40px;
  margin-top: auto; 
  text-align: center; 
}

.copyright {
  font-size: 12px;
  color: #888;
  margin-top: 15px;
}